Repository GrafeoDB/grafeo-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo Server
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

fixes for rust build, lint and docker publish
  Cargo.lock
  Cargo.toml
  Dockerfile
  client/eslint.config.js
  client/src/App.tsx
Due: cargo-deny

cargo fmt
  src/auth.rs
  src/database_manager.rs
  src/error.rs
  src/metrics.rs
  src/routes.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

Update publish.yml
  .github/workflows/publish.yml
Due: none

Update Cargo.toml
  Cargo.toml
Due: cargo-deny

updated grafeo version
  Cargo.lock
Due: cargo-deny

added CHANGELOG.md
  CHANGELOG.md
Due: none

aligned with new features from grafeo 0.4.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  client/src/api/client.ts
  client/src/components/Sidebar/CreateDatabaseDialog.module.css
  client/src/components/Sidebar/CreateDatabaseDialog.tsx
  client/src/components/Sidebar/DatabasePanel.module.css
  client/src/components/Sidebar/DatabasePanel.tsx
  client/src/types/api.ts
  src/database_manager.rs
  src/lib.rs
  src/routes.rs
  src/schema.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix for auto-switch the languag on db type
  Cargo.lock
  Cargo.toml
  client/src/App.tsx
  client/src/components/QueryEditor/QueryEditor.tsx
  client/src/components/Sidebar/DatabasePanel.tsx
  client/src/components/Sidebar/Sidebar.tsx
  client/tsconfig.app.tsbuildinfo
  src/database_manager.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

Update README.md
  README.md
Due: none

release 0.3.0
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  LICENSE
  README.md
  src/auth.rs
  src/config.rs
  src/database_manager.rs
  src/error.rs
  src/lib.rs
  src/main.rs
  src/rate_limit.rs
  src/routes.rs
  src/routes/batch.rs
  src/routes/database.rs
  src/routes/helpers.rs
  src/routes/mod.rs
  src/routes/query.rs
  src/routes/system.rs
  src/routes/transaction.rs
  src/routes/types.rs
  src/routes/websocket.rs
  src/schema.rs
  src/state.rs
  src/tls.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

cargo fmt and cleaned up some unused code
  build.rs
  src/database_manager.rs
  src/routes/batch.rs
  src/routes/query.rs
  src/routes/system.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md
  CHANGELOG.md
Due: none

docs update and added codecov config
  .github/workflows/ci.yml
  Cargo.toml
  LICENSE
  README.md
  codecov.yml
Due: cargo-deny

release 0.2.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/routes/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fixed docker build error
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: cargo-deny

new xontainer types: slim and full
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  Dockerfile.dockerignore
  README.md
  src/routes/mod.rs
  src/routes/query.rs
  src/routes/system.rs
  src/routes/types.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

updated Cargo.lock file
  Cargo.lock
Due: cargo-deny

dockerignore fix
  Dockerfile.dockerignore
Due: none

version bump to 0.2.2
  Cargo.lock
  Cargo.toml
  client/package.json
  src/routes/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

regenerated lock
  Cargo.lock
Due: cargo-deny

updated CHANGELOG.md for release 0.2.2
  CHANGELOG.md
Due: none

docker build fix
  Dockerfile
Due: none

bump to 0.2.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  client/package.json
  src/routes/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

call procedure support
  Cargo.lock
  Cargo.toml
  client/package.json
  src/metrics.rs
  src/routes/mod.rs
  src/routes/query.rs
  src/routes/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

release 0.2.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

updated README.md
  README.md
Due: none

license to commit
  CONTRIBUTING.md
  README.md
  deny.toml
  src/routes/mod.rs
Due: cargo-fmt, cargo-clippy

gwp integration work
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  src/config.rs
  src/gwp.rs
  src/lib.rs
  src/main.rs
  src/routes/mod.rs
  src/routes/types.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

release 0.3.0 with gwp support
  CHANGELOG.md
  README.md
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

4th container (temporary)
  .github/workflows/publish.yml
  CHANGELOG.md
  Dockerfile
  README.md
Due: none

ci got a proto buff
  .github/workflows/ci.yml
  Dockerfile
Due: none

formatting fixes
  src/gwp.rs
  src/lib.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

lite = gwp
  CHANGELOG.md
  Cargo.toml
  Dockerfile
  src/database_manager.rs
  src/error.rs
  src/lib.rs
  src/main.rs
  src/rate_limit.rs
  src/routes/mod.rs
  src/routes/types.rs
  src/schema.rs
  src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

big refactor: moved different parts to own crates
  Cargo.lock
  Cargo.toml
  README.md
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/auth.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/error.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/metrics.rs
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/rate_limit.rs
  crates/grafeo-service/src/schema.rs
  crates/grafeo-service/src/session.rs
  crates/grafeo-service/src/types.rs
  src/auth.rs
  src/error.rs
  src/lib.rs
  src/main.rs
  src/rate_limit.rs
  src/routes/batch.rs
  src/routes/database.rs
  src/routes/helpers.rs
  src/routes/mod.rs
  src/routes/query.rs
  src/routes/system.rs
  src/routes/transaction.rs
  src/routes/types.rs
  src/routes/websocket.rs
  src/sessions.rs
  src/state.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

upstream fixes
  Cargo.lock
  Cargo.toml
  src/gwp.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

veesion bump gwp
  Cargo.lock
  Cargo.toml
Due: cargo-deny

cargo fmt
  Dockerfile
  Dockerfile.dockerignore
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/schema.rs
  src/auth.rs
  src/error.rs
  src/main.rs
  src/routes/batch.rs
  src/routes/transaction.rs
  src/state.rs
Due: cargo-fmt, cargo-clippy

moving crates
  Cargo.lock
  Cargo.toml
  crates/grafeo-bolt/Cargo.toml
  crates/grafeo-bolt/src/lib.rs
  crates/grafeo-gwp/Cargo.toml
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-http/Cargo.toml
  crates/grafeo-http/src/encode.rs
  crates/grafeo-http/src/error.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/middleware/auth.rs
  crates/grafeo-http/src/middleware/mod.rs
  crates/grafeo-http/src/middleware/rate_limit.rs
  crates/grafeo-http/src/middleware/request_id.rs
  crates/grafeo-http/src/routes/batch.rs
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-http/src/routes/mod.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-http/src/routes/system.rs
  crates/grafeo-http/src/routes/transaction.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-http/src/state.rs
  crates/grafeo-http/src/tls.rs
  crates/grafeo-http/src/types.rs
  crates/grafeo-service/src/types.rs
  crates/grafeo-studio/Cargo.toml
  crates/grafeo-studio/src/lib.rs
  src/error.rs
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny
