Repository GrafeoDB/grafeo-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

0.4.0 because of the big refactor
  Cargo.toml
  crates/grafeo-http/build.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-service/src/types.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

test fixes
  Cargo.toml
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fixed last failing test
  crates/grafeo-http/build.rs
Due: cargo-fmt, cargo-clippy

cargo fmt
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-http/src/error.rs
Due: cargo-fmt, cargo-clippy

gwp 0.1.2 grafeo 0.5.4 bumps
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/grafeo-gwp/Cargo.toml
Due: cargo-deny

path fix
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  Dockerfile
Due: none

codecov path fix
  .github/workflows/ci.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

debug: add directory listing to docker-build CI job
  .github/workflows/ci.yml
  du.exe.stackdump
Due: none

fix: create empty .dockerignore at workspace root for CI
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix: checkout grafeo inside grafeo-server for Docker builds
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  Dockerfile
Due: none

removed local test artifacts
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  du.exe.stackdump
Due: cargo-deny

removed gwp container
  .github/workflows/publish.yml
Due: none

more tests
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/metrics.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

per crate testing
  crates/grafeo-http/Cargo.toml
  crates/grafeo-http/src/encode.rs
Due: cargo-fmt, cargo-clippy

version bump
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/src/encode.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

version bump
  crates/grafeo-http/src/lib.rs
Due: cargo-fmt, cargo-clippy

streaming added
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-http/src/routes/transaction.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/stream.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md
  CHANGELOG.md
Due: none

bump grafeo version
  Cargo.toml
Due: cargo-deny

locked in
  Cargo.lock
Due: cargo-deny

cargo fmt
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/metrics.rs
Due: cargo-fmt, cargo-clippy

fixed codecov path after refactor
  .github/workflows/ci.yml
Due: none

bump
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-http/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

dependency update
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/Cargo.toml
  crates/grafeo-gwp/src/auth.rs
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-service/src/auth.rs
  src/config.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

gracefull shutdown added
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/grafeo-gwp/Cargo.toml
  crates/grafeo-gwp/src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

lock stock
  Cargo.lock
Due: cargo-deny

admin and search service and code quality
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-http/src/routes/mod.rs
  crates/grafeo-http/src/routes/search.rs
  crates/grafeo-http/src/types.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/search.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

updated CHANGELOG.md and version bump
  CHANGELOG.md
  Cargo.toml
  crates/grafeo-http/src/lib.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

dependency updates
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-service/Cargo.toml
Due: cargo-deny

cargo fmt
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

updated README.md
  README.md
Due: none

added a bolt implementation (boltR)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-bolt/Cargo.toml
  crates/grafeo-bolt/src/lib.rs
  crates/grafeo-boltr/Cargo.toml
  crates/grafeo-boltr/src/auth.rs
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-boltr/src/lib.rs
  crates/grafeo-service/src/query.rs
  src/config.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

removed local path boltr
  Cargo.lock
  Cargo.toml
Due: cargo-deny

added tests
  crates/grafeo-gwp/src/encode.rs
Due: cargo-fmt, cargo-clippy

updated changelog.md
  CHANGELOG.md
Due: none

gwp added
  Cargo.toml
Due: cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
