Repository GrafeoDB/grafeo-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

storage tier introspection and reload-eligible
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

added smoketest for CALL grafeo.search.text/vector
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

version 0.5.42 bumps
  CHANGELOG.md
  Cargo.lock
  crates/grafeo-boltr/src/encode.rs
  deny.toml
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

ci: pin Rust 1.99.0 and fix its new clippy lints
  .github/workflows/ci.yml
  .github/workflows/replication.yml
  crates/grafeo-http/src/middleware/auth_context.rs
  crates/grafeo-http/src/routes/graph_store.rs
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/auth.rs
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/search.rs
  crates/grafeo-service/src/stream.rs
  crates/grafeo-service/src/sync.rs
  crates/grafeo-service/src/token_service.rs
  crates/grafeo-service/src/types.rs
  rust-toolchain.toml
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(replication): release the epoch entry guard before persisting epochs
  crates/grafeo-service/src/replication.rs
Due: cargo-fmt, cargo-clippy

chore: bump grafeo-engine to 0.5.44, clear audit advisories, report failed sync writes as conflicts
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-http/src/encode_sparql.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-service/src/stream.rs
  crates/grafeo-service/src/sync.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(sync): return change events in causal order within an epoch
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

fix(backup): restore to an epoch through a staging file
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

fix(backup): make the epoch restore swap safe against partial moves
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

fix(backup): never delete a leftover pre-restore copy during epoch restore
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

lock also bumped
  Cargo.lock
Due: cargo-deny

chore: refresh dependencies within semver-compatible ranges
  client/package-lock.json
Due: none

fix: keep database creation options across restarts and restores (#67 workaround)
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/types.rs
Due: cargo-fmt, cargo-clippy

feat: report write counters on HTTP, GWP and Bolt
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/types.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

feat(sync): name the graph and previous labels of change events
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

feat(sync): replay changes into the graph they came from
  crates/grafeo-http/src/replication_task.rs
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

fix(sync): reject sync on read-only servers and validate graph names
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

feat(http): upsert nodes and edges by key
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/types.rs
  crates/grafeo-service/src/upsert.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix: PR #69 review follow-ups (Bolt map detection, optional reload body, restore messages)
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix: replicate node label changes; write options.json before creating the database
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

refactor: tidy label sync helper placement and edge update guard
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

feat(studio): storage tiers section and tier overrides (#70)
  client/src/api/client.ts
  client/src/components/Databases/StorageTiersSection.module.css
  client/src/components/Databases/StorageTiersSection.tsx
  client/src/components/Sidebar/CreateDatabaseDialog.module.css
  client/src/components/Sidebar/CreateDatabaseDialog.tsx
  client/src/types/api.ts
  client/src/views/databases/DatabaseDetails.tsx
Due: none

fix(studio): keep database page sections mounted on refresh; tier section load handling
  client/src/components/Databases/StorageTiersSection.tsx
  client/src/components/Sidebar/CreateDatabaseDialog.tsx
  client/src/views/databases/DatabaseDetails.tsx
Due: none

ci: run per-crate unit tests with all features
  .github/workflows/ci.yml
Due: none

fix(backup): unwritable-dir restore test uses a read-only dir; stale copy message covers unreadable paths
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

fix(database): never adopt or delete an existing database directory in create
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy

fix(database): reject force_disk for sections that cannot spill
  client/src/components/Sidebar/CreateDatabaseDialog.tsx
  crates/grafeo-service/src/database.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

test(backup): cover move and swap rollback
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

fix(upsert): reject integers beyond i64 instead of rounding to float
  crates/grafeo-service/src/upsert.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(studio): retry storage tiers after a failed load
  client/src/components/Databases/StorageTiersSection.tsx
Due: none

test: show non-JSON bodies in post_json
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(sync): never split an epoch; server_epoch is the resume cursor for cut batches
  crates/grafeo-http/src/replication_task.rs
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-service/src/changefeed.rs
  crates/grafeo-service/src/sync.rs
  crates/grafeo-sync/src/lib.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(sync): authorize change feed and apply endpoints
  crates/grafeo-http/src/routes/sync.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(replication): log and surface apply conflicts
  crates/grafeo-http/src/replication_task.rs
  crates/grafeo-service/src/replication.rs
Due: cargo-fmt, cargo-clippy

fix(replica): reject POST write routes on replicas
  crates/grafeo-http/src/middleware/replica_guard.rs
  tests/replication.rs
Due: cargo-fmt, cargo-clippy

fix(sync): validate changes before opening graphs; create graphs only for creates
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

fix(sync): keep the SSE history cursor from moving back after a full last page
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-service/src/sync.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(database): refuse a leftover WAL sidecar and reserve names during create
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy

fix(upsert): document the integer range limits; nested error test
  crates/grafeo-service/src/upsert.rs
Due: cargo-fmt, cargo-clippy

fix(studio): disable Retry while a retry runs
  client/src/components/Databases/StorageTiersSection.tsx
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
