Repository GrafeoDB/grafeo-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo Server
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

force enable cdc and replication
  tests/replication.rs
Due: cargo-fmt, cargo-clippy

fix
  tests/replication_docker.rs
Due: cargo-fmt, cargo-clippy

cargo fmt
  crates/grafeo-http/src/replication_task.rs
Due: cargo-fmt, cargo-clippy

disabled cdc for replica manager
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

updated for release 0.5.34
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/replication.rs
  crates/grafeo-service/src/sync.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added tests for admin routes and bumped dependency
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/database.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

Update tests/integration.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

Add backup integration tests, fix timestamp collision and filename parsing
  crates/grafeo-service/src/backup.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

identity in sessions and per graph grants
  crates/grafeo-http/src/routes/batch.rs
  crates/grafeo-http/src/routes/graph_store.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-http/src/routes/sparql_protocol.rs
  crates/grafeo-http/src/routes/transaction.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-service/src/lib.rs
  tests/replication.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md
  CHANGELOG.md
Due: none

ci fixes
  Cargo.lock
  client/src/views/AdminView.module.css
  client/src/views/AdminView.tsx
  client/tsconfig.app.tsbuildinfo
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fixed route issue with auth
  crates/grafeo-http/src/lib.rs
Due: cargo-fmt, cargo-clippy

miscallaneous fixes
  CHANGELOG.md
  crates/grafeo-boltr/src/auth.rs
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/batch.rs
  crates/grafeo-http/src/routes/sparql_protocol.rs
  crates/grafeo-http/src/routes/transaction.rs
  crates/grafeo-http/src/routes/websocket.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

multiple small quality improvements
  crates/grafeo-boltr/src/auth.rs
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/lib.rs
  crates/grafeo-gwp/src/auth.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-http/src/middleware/auth_context.rs
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-http/src/routes/transaction.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-service/src/auth.rs
Due: cargo-fmt, cargo-clippy

fixed vulnersbilities in auth implementation
  crates/grafeo-boltr/src/lib.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-http/src/routes/transaction.rs
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/session.rs
Due: cargo-fmt, cargo-clippy

added validation to token creation
  crates/grafeo-service/src/token_service.rs
  crates/grafeo-service/src/token_store.rs
Due: cargo-fmt, cargo-clippy

added tests
  crates/grafeo-service/src/auth.rs
  crates/grafeo-service/src/session.rs
  crates/grafeo-service/src/token_service.rs
  crates/grafeo-service/src/token_store.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

Adopt backup chain API and rename database file to data.grafeo
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/backup.rs
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/types.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

Address cubic review feedback
  crates/grafeo-http/src/routes/backup.rs
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

fix clippy lints in backup and integration tests
  crates/grafeo-service/src/backup.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fixed tests to match match new "read-only" default
  crates/grafeo-service/src/types.rs
Due: cargo-fmt, cargo-clippy

added tests
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

added turtle content negotiation
  crates/grafeo-http/src/routes/graph_store.rs
  crates/grafeo-http/src/routes/sparql_protocol.rs
Due: cargo-fmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

graph projections and shacl validation
  Cargo.lock
  Cargo.toml
  crates/grafeo-http/Cargo.toml
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-http/src/routes/backup.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/types.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fixes for review comments
  crates/grafeo-http/src/routes/graph_store.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-http/src/routes/sparql_protocol.rs
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/backup.rs
Due: cargo-fmt, cargo-clippy

security hardening and engine 0.5.38 alignment
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-boltr/src/auth.rs
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-boltr/src/lib.rs
  crates/grafeo-gwp/src/auth.rs
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-http/Cargo.toml
  crates/grafeo-http/src/error.rs
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/middleware/rate_limit.rs
  crates/grafeo-http/src/routes/batch.rs
  crates/grafeo-http/src/routes/query.rs
  crates/grafeo-http/src/routes/system.rs
  crates/grafeo-http/src/routes/tokens.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-http/src/state.rs
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/auth.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/schema.rs
  crates/grafeo-service/src/session.rs
  crates/grafeo-service/src/token_service.rs
  crates/grafeo-service/src/token_store.rs
  crates/grafeo-service/src/types.rs
  src/config.rs
  src/main.rs
  tests/bolt_neo4j_smoke.py
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added tests
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-service/src/auth.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/search.rs
  crates/grafeo-service/src/token_service.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fixed silent error
  crates/grafeo-service/src/token_store.rs
Due: cargo-fmt, cargo-clippy

added tests
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-service/src/session.rs
  crates/grafeo-service/src/token_store.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

updated for 0.5.40
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-http/src/lib.rs
  crates/grafeo-service/src/admin.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

clippy fix
  Cargo.toml
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

rustdoc fix
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy

another rustcheck fix
  crates/grafeo-http/src/routes/system.rs
Due: cargo-fmt, cargo-clippy

cargo audit and clippy
  Cargo.lock
  crates/grafeo-service/src/sync.rs
  tests/replication_docker.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

bump
  Cargo.lock
  Cargo.toml
Due: cargo-deny
