Repository GrafeoDB/grafeo-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo Server
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

fix(sync): subscribe SSE to live changes before streaming the last history page
  crates/grafeo-http/src/routes/sync.rs
Due: cargo-fmt, cargo-clippy

fix(replica): allow token management on replicas
  crates/grafeo-http/src/middleware/replica_guard.rs
Due: cargo-fmt, cargo-clippy

fix(changefeed): end lagged SSE and WebSocket subscriptions with a resumable message
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-service/src/changefeed.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(sync): report a failed SSE history pull; replication doc cursor
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-service/src/replication.rs
Due: cargo-fmt, cargo-clippy

fix(backup): recover orphaned pre-restore copies, map uncovered epochs to 400, keep CDC after restore
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy

ci: boltr crate tests, all-features clippy and MSRV
  .github/workflows/ci.yml
Due: none

fix(studio): backups without a backup dir, untrack tsbuildinfo, button types
  .gitignore
  client/src/components/Databases/BackupsSection.tsx
  client/src/components/Sidebar/CreateDatabaseDialog.tsx
  client/tsconfig.app.tsbuildinfo
Due: none

chore(studio): untrack tsbuildinfo
  client/tsconfig.app.tsbuildinfo
Due: none

chore(studio): untrack remaining tsbuildinfo
  client/tsconfig.node.tsbuildinfo
Due: none

fix(studio): show backup load errors; tidy dialog markup
  client/src/components/Databases/BackupsSection.module.css
  client/src/components/Databases/BackupsSection.tsx
  client/src/components/Sidebar/CreateDatabaseDialog.tsx
Due: none

fix(database): fall back to engine defaults when stored options fail validation; more reopen coverage
  crates/grafeo-service/src/database.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(sync): server_epoch never moves below the requested cursor; hub advances only on events
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-service/src/changefeed.rs
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md
  CHANGELOG.md
Due: none

change feed subscribers can no longer stall the shared feed and are closed when it stops
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-service/src/changefeed.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

SSE error events no longer show internal error text
  crates/grafeo-http/src/routes/sync.rs
Due: cargo-fmt, cargo-clippy

replicas reject client sync writes, and token routes pass only with auth (#69)
  crates/grafeo-http/src/middleware/replica_guard.rs
  tests/replication.rs
Due: cargo-fmt, cargo-clippy

updated for 1.99.0
  rust-toolchain.toml
Due: none

create refuses dangling links and legacy WAL sidecars (#69)
  Cargo.lock
  Cargo.toml
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

grafeo-sync cursor at the last epoch no longer overflows (#69)
  crates/grafeo-sync/src/lib.rs
Due: cargo-fmt, cargo-clippy

SSE test reads outlast the keep-alive, and replication tests need the replication feature (#69)
  tests/integration.rs
  tests/replication.rs
Due: cargo-fmt, cargo-clippy

em dashes out of the sync docs and messages
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-service/src/database.rs
  crates/grafeo-service/src/sync.rs
  crates/grafeo-sync/src/lib.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

added entries for linux mint users
  .gitignore
Due: none

databases stay closed when their stored options need a missing feature
  CHANGELOG.md
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

more sync apply and change feed tests
  crates/grafeo-service/src/sync.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

counters saturate on GWP and Bolt; Bolt stats through a typed mapping
  CHANGELOG.md
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-service/src/types.rs
Due: cargo-fmt, cargo-clippy

upsert engine failures map to 500, request errors to 400
  CHANGELOG.md
  crates/grafeo-service/src/upsert.rs
Due: cargo-fmt, cargo-clippy

OpenAPI documents upsert rows and limits
  CHANGELOG.md
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-service/src/types.rs
Due: cargo-fmt, cargo-clippy

reload-eligible accepts an empty JSON body
  CHANGELOG.md
  crates/grafeo-http/src/routes/admin.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

WebSocket query errors hide internal detail; replica cursor cannot overflow
  CHANGELOG.md
  crates/grafeo-http/src/replication_task.rs
  crates/grafeo-http/src/routes/websocket.rs
Due: cargo-fmt, cargo-clippy

restored or recreated databases close their live subscriptions
  CHANGELOG.md
  crates/grafeo-service/src/changefeed.rs
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

the live feed starts at the first epoch that can still gain events
  CHANGELOG.md
  crates/grafeo-service/src/changefeed.rs
Due: cargo-fmt, cargo-clippy

upsert write conflicts return 409
  CHANGELOG.md
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-service/src/upsert.rs
Due: cargo-fmt, cargo-clippy

the write counter test pins all seven Bolt names
  crates/grafeo-service/src/types.rs
Due: cargo-fmt, cargo-clippy

CI runs the replication, sync client and non-auth guard tests
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

stored options keep their graph model when they fall back
  CHANGELOG.md
  crates/grafeo-service/src/backup.rs
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy

the lag notice carries the epoch to resume from (#69)
  CHANGELOG.md
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-service/src/changefeed.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

lag tests no longer assume one uninterrupted burst (#69)
  crates/grafeo-http/src/routes/sync.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

backups ignore responses for a database no longer shown (#69)
  CHANGELOG.md
  client/src/components/Databases/BackupsSection.tsx
  client/src/views/databases/DatabaseDetails.tsx
Due: none

the replication test helper applies on a blocking thread (#69)
  tests/replication.rs
Due: cargo-fmt, cargo-clippy
