Repository GrafeoDB/grafeo-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo Server
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

rust test fix
  crates/grafeo-http/src/lib.rs
Due: cargo-fmt, cargo-clippy

updated version
  CHANGELOG.md
  README.md
Due: none

cargo fmt
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/encode.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md and toml for 0.4.4
  CHANGELOG.md
  Cargo.toml
Due: cargo-deny

lockandloaded
  Cargo.lock
Due: cargo-deny

version bumps for gwp
  Cargo.lock
  Cargo.toml
  crates/grafeo-gwp/Cargo.toml
  crates/grafeo-gwp/src/backend.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

gwp breaking change fixes (database->catalog)
  Cargo.toml
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

grafeo bump to 0.5.10
  Cargo.lock
Due: cargo-deny

grafeo version bump
  Cargo.lock
Due: cargo-deny

qol improvements and boltr bump
  Cargo.lock
  Cargo.toml
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

test fix
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

version bump
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-deny

openapi version bump
  crates/grafeo-http/src/lib.rs
Due: cargo-fmt, cargo-clippy

removed local path
  Cargo.toml
Due: cargo-deny

boltr 0.1.1 compatibility fixes
  Cargo.lock
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-gwp/src/backend.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

cargo fmt
  crates/grafeo-gwp/src/backend.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

improved test cov and reporting
  .github/workflows/ci.yml
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

temporal type support aligned with grafeo 0.5.13
  Cargo.lock
  Cargo.toml
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-gwp/src/lib.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-service/src/stream.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

adding new grafeo upstream features
  Cargo.lock
  Cargo.toml
  crates/grafeo-boltr/src/backend.rs
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/backend.rs
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/stream.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added new http methods
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/types.rs
Due: cargo-fmt, cargo-clippy

added GQLSTATUS in HTTP responses
  crates/grafeo-http/src/encode.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md
  CHANGELOG.md
Due: none

added tests
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-service/src/admin.rs
Due: cargo-fmt, cargo-clippy

added gwp and bolt containers (no more lite)
  .github/workflows/publish.yml
  Dockerfile
  README.md
Due: none

added new upstream features
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/admin.rs
  crates/grafeo-http/src/routes/database.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/types.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

updated README.md
  README.md
Due: none

bump to 0.4.8
  CHANGELOG.md
  Cargo.toml
  crates/grafeo-service/Cargo.toml
Due: cargo-deny

new features for 0.4.8
  Cargo.lock
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added tests for new features
  crates/grafeo-http/src/state.rs
  crates/grafeo-service/src/lib.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

clippy
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

full move for offline sync to grafeo server
  Cargo.lock
  Cargo.toml
  crates/grafeo-http/Cargo.toml
  crates/grafeo-http/src/lib.rs
  crates/grafeo-http/src/routes/sync.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/changefeed.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/sync.rs
  crates/grafeo-sync/Cargo.toml
  crates/grafeo-sync/src/error.rs
  crates/grafeo-sync/src/lib.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added (decoupled) grafeo-service for offline sync
  crates/grafeo-http/src/routes/websocket.rs
  crates/grafeo-http/src/types.rs
  crates/grafeo-service/src/crdt.rs
  crates/grafeo-service/src/lib.rs
  crates/grafeo-service/src/sync.rs
Due: cargo-fmt, cargo-clippy

clippy and cargo fmt
  crates/grafeo-boltr/src/encode.rs
  crates/grafeo-gwp/src/encode.rs
  crates/grafeo-http/src/encode.rs
  crates/grafeo-service/src/crdt.rs
Due: cargo-fmt, cargo-clippy

refactored DatabaseEntry.db to Arc<GrafeoDB>
  Cargo.lock
  Cargo.toml
  crates/grafeo-http/src/lib.rs
  crates/grafeo-service/Cargo.toml
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

clippy happy
  crates/grafeo-service/src/admin.rs
  crates/grafeo-service/src/database.rs
Due: cargo-fmt, cargo-clippy

added tests
  crates/grafeo-http/src/routes/graph_store.rs
  crates/grafeo-http/src/routes/sparql_protocol.rs
  crates/grafeo-service/src/auth.rs
  crates/grafeo-service/src/query.rs
  crates/grafeo-service/src/rate_limit.rs
  crates/grafeo-service/src/search.rs
Due: cargo-fmt, cargo-clippy

replaced local paths from dev builds
  .github/workflows/replication.yml
Due: none

added gnuplot
  .github/workflows/replication.yml
Due: none
